@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", serif;
}

/* ============ Shared styles ============ */

.d-flex{
    display: flex;
}

.l-grey{
    color: #424242;
}

.m-grey{
    color: #727272;
}

.d-grey{
    color: #131313;
}

.bg-color{
    background: rgba(255, 144, 14, 0.1);
}

/* ============ header styles ============ */



/* ============ Nav styles ============ */
.navbar{
    justify-content: space-between;
}

.nav-links li{
    list-style: none;
    margin-right: 30px;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}