@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", serif;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* ============ Shared styles ============ */

.d-flex{
    display: flex;
}

.l-grey{
    color: #424242;
}

.m-grey{
    color: #727272;
}

.d-grey{
    color: #131313;
}

.bg-color{
    background: #FFF4E7
}

.text-primary{
    color: #FF900E;
}

.btn{
    background: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* ============ Nav styles ============ */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-links li{
    list-style: none;
    margin-right: 30px;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* ========== Banner styles ========== */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner img{
    width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* some facts related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.facts .section-title{
    margin-bottom: 0;
}

.fact-description{
    max-width: 540px;
    margin-bottom: 60px;
}

.fact{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sopnsors related styles */
.sopnsor-info{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img{
    filter: grayscale(100%);
}

/* responsive media querry */

@media screen and (max-width: 567px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .team-img-container, .fact-container, .sponsors-companies{
       grid-template-columns: repeat(1, 1fr);
    }
    .fact-container, .sponsors-companies{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 15px;
    }
}

@media screen and (min-width:567px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px;
    }
    .sponsors-companies{
        gap: 24px;
    }
    .sponsors-companies, .fact-container{
        grid-template-columns: repeat(3, 1fr);
    }
}